<form action="/files/upload" method="POST" enctype="multipart/form-data" class="upload-form">
  <input type="file" name="file" class="form-input" required>
  <select name="folderId" class="form-select">
    <option value="">Root Directory</option>
    <% folders.forEach(folder=> { %>
      <option value="<%= folder.id %>">
        <%= folder.name %>
      </option>
      <% }) %>
  </select>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>