<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <script src="/script.js" defer></script>
  <title>
    <%= title %>
  </title>
</head>

<body class="app-body">
  <header class="home-header">
    <a href="/">
      <h1 class="home-title">i <img src="/images/stack.svg" alt="img Stack"> S</h1>
    </a>

    <button id="theme-toggle" class="btn btn-secondary theme-toggle" type="button"
      aria-label="Toggle color theme">Toggle theme</button>
  </header>