<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>Oops! Something went wrong</h1>
  <p style="color: red; font-weight: bold;">
    <%= message %>
  </p>

  <a href="/">Return to Home</a>

  <% if (process.env.NODE_ENV==='development' ) { %>
    <pre><%= error.stack %></pre>
    <% } %>
</body>

</html>