<%- include('../partials/header') %>
  <header>
    <h1>Sign Up</h1>
  </header>
  <main>
    <% if (errors && errors.length> 0) { %>
      <ul>
        <% errors.forEach(error=> { %>
          <li>
            <%= error.msg %>
          </li>
          <% }) %>
      </ul>
      <% } %>
        <%- include('../partials/signupForm') %>
          <p>Already have an account? <a href="/auth/login">Log In</a></p>
  </main>
  <%- include('../partials/footer') %>